---
import { Image } from 'astro:assets';
import logo from '~/assets/favicons/apple-touch-icon.png';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <Image src={logo} alt="Einfach Spanien" width="50" height="50" />
</span>
